@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Raleway&display=swap');

:root {
    /* Color styles */
    --primary--accent: #24815A;
    --primary--accent-darker: #206649;
    --primary--accent-lighter: #57b38c;
    --secondary--accent: #A9794C;
    --secondary--accent-darker: #66482c;
    --secondary--accent-lighter: #ca9f76;
    --primary--black: #18181C;
    --primary--white: #EFEFEF;
    --secondary--white: #999999;
    --tertiary--white: #575758;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Universal Styles */

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: var(--primary--black);
    background-color: var(--primary--white);
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 100px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

p {
    line-height: 1.4;
}

.primary-cta {
    all: unset;
    cursor: pointer;
    color: var(--primary--white);
    background-color: var(--primary--accent);
    padding: 10px 25px;
    border-radius: 27px;
}

.primary-cta:hover {
    background-color: var(--primary--accent-darker);
}

.primary-cta:active {
    background-color: var(--primary--accent-lighter);
}

/* Navbar */

.navbar {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    /*overflow: hidden;*/
}

.navbar .logo {
    color: var(--primary--black);
    height: 46px;
}

.navbar .wrapper {
    display: flex;
    align-items: center;
}

.nav-links {
    height: 64px;
    margin: 0 64px;
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links a, .nav-links li, .nav-links .dropdown {
    all: unset;
    padding: 0 6px;
    color: var(--secondary--accent);
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-links a:hover, .nav-links li:hover {
    color: var(--secondary--accent-darker);
    /*background-color: #e7e6e6*/
}

.nav-links .dropdown:hover li span {
    animation-name: rotate;
    animation-duration: 148ms;
    transform: rotateZ(180deg);
}


@keyframes rotate {
    0% {
        transform: rotateZ(0deg);
    }
    50% {
        transform: rotateZ(90deg);
    }
    100% {
        transform: rotateZ(180deg);
    }
}

    /*Dropdown*/
    
    .dropdown {
        float: left;
        overflow: hidden;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        top: 64px;
        background-color: #e7e6e6;
        min-width: 148px;
        z-index: 1;
    }
    
    .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    .dropdown-content a:hover {
        background-color: rgb(218, 216, 216);
    }
    
    .navbar:hover .dropdown:hover .dropdown-content {
        display: block;
    }


/* Hero */

header.hero {
    color: var(--primary--white);
    height: calc(100vh - 64px);
    min-height: 516px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("Assets/mycelia.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.featured {
    max-width: 50%;
    width: 516px;
    position: absolute;
    left: 8vw;
    top: clamp(280px, 45%, 1000px);
    transform: translateY(-45%)
}

.featured p {
    margin: 28px 0px 38px 0px;
}

/* Main */

main.construction {
    text-align: center;
    margin: auto;
    padding: 180px 0;
    width: 60%;
}

main.construction h2 {
    margin-bottom: 30px;
}


/* Footer */

footer {
    background-color: var(--primary--black);
    color: var(--primary--white);
    padding: 48px 0 20px 0;
}

footer a {
    all: unset;
    cursor: pointer;
}

footer li {
    list-style: none;
}

footer .wrapper {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: auto;
}

footer .logo {
    position: relative;
    right: 110px;
}

footer .info {
    width: 40%;
}

footer .info .links .pages {
    color: var(--secondary--white);
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 20px;
}
footer .info .links .games {
    color: var(--secondary--white);
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 8px;
}

footer .info .socials {
    display: flex;
    display: flex;
    justify-content: space-between;
    width: 254px;
    margin-top: 38px;
}

footer hr {
    height: 2px;
    background-color: var(--tertiary--white);
    border: none;
    width: 95%;
    margin: 38px auto 18px auto;
}

footer .copyright {
    margin-left: 4%;
    color: var(--secondary--white);
}

footer .signup {
    text-align: right;
    width: 380px;
}

footer .signup p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    width: 340px;
    float: right;
}

footer .signup label {
    display: block;
    text-align: left;
}

footer .signup form {
    width: 100%;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr;
}

footer .signup form > * {
    height: 76px;
    width: 100%;
}

footer .signup form .email {
    grid-column: 1 / 3;
}

footer form label {
    color: var(--secondary--white);
    margin-bottom: 4px;
}

footer form input {
    width: 100%;
    height: 48px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: var(--tertiary--white);
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid var(--primary--white);
}

footer form input:not(:placeholder-shown) {
    color: var(--secondary--white);
}

footer form input:focus {
    outline-style: none;
    box-shadow: none;
    background-color:rgba(255, 255, 255, 0.4);
    color: var(--primary--white);
}

footer form button:focus, footer form button:hover {
    background-color: var(--primary--white);
    color: var(--primary--black);
}

footer form button {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: var(--primary--white);
    height: 48px !important;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid var(--primary--white);
    grid-row: 3;
    grid-column: 2;
}

#form-success {
    color: rgb(32, 207, 70);
    font-size: 1rem;
    display: none;
}

@media only screen and (max-width: 889px) {
    body {
      background-color: lightblue;
    }
  }