body.fourofour {
    padding-top: 30vh;
    text-align: center;
}

.fourofour h1 {
    font-size: 48px;
}

.fourofour a {
    margin-top: 40px;
}

p a {
    margin: 0 10px;
}

span.material-symbols-outlined {
    position: relative;
    top: 5px;
    margin-left: 4px;
}