@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Raleway&display=swap');

:root {
    /* Color styles */
    --primary--accent: #24815A;
    --primary--accent-darker: #206649;
    --primary--accent-lighter: #57b38c;
    --secondary--accent: #A9794C;
    --secondary--accent-darker: #66482c;
    --secondary--accent-lighter: #ca9f76;
    --primary--black: #18181C;
    --secondary--black: #4b4b4e;
    --primary--white: #EFEFEF;
    --secondary--white: #999999;
    --tertiary--white: #575758;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Universal Styles */

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    color: var(--primary--black);
    background-color: var(--primary--white);
}

h1 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 100px;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 22px;
}

h4 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

a {
    color: var(--primary--accent);
    display: inline-block;
    text-decoration: none;
    position: relative;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    bottom: -2px;
    background-color: var(--primary--accent);
    transform-origin: bottom right;
    transition: transform 0.125s ease-out;
}

a:hover {
    color: var(--primary--accent-lighter);
    cursor: pointer;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

a:visited {
    color: var(--primary--accent-darker);
}

p {
    line-height: 1.4;
}

section {
    margin: auto;
    width: 80%;
}

.primary-cta {
    cursor: pointer;
    color: var(--primary--white) !important;
    background-color: var(--primary--accent);
    padding: 10px 25px;
    border-radius: 27px;
}

.primary-cta::after {
    all: unset;
}

.primary-cta:hover {
    background-color: var(--primary--accent-darker);
}

.primary-cta:active {
    background-color: var(--primary--accent-lighter);
}

.secondary-cta {
    cursor: pointer;
    color: var(--primary--white) !important;
    padding: 10px 25px;
    border-radius: 27px;
    border: var(--primary--white) 2px solid;
    transition: all 0.15s ease-in-out;
}

.secondary-cta::after {
    all: unset;
}

.secondary-cta:hover {
    background-color: rgba(239, 239, 239, 0.1);
}

.secondary-cta:active {
    background-color: rgba(239, 239, 239, 0.2);
}

/* Navbar */

.navbar {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 64px;
    /*overflow: hidden;*/
}

.navbar .logo {
    color: var(--primary--black);
    height: 46px;
    cursor: pointer;
}

.navbar a::after {
    all: unset;
}

.navbar .wrapper {
    display: flex;
    align-items: center;
}

.nav-links {
    height: 64px;
    margin: 0 64px;
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-links a {
    color: unset;
}

.nav-links a::after {
    all: unset;
}

 .nav-links li {
    list-style: none;
    padding: 0 6px;
    color: var(--secondary--accent);
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-links li p {
    display: flex;
    align-items: center;
    position: relative;
    top: 1.7px;
}

.nav-links a:hover, .nav-links li:hover {
    color: var(--secondary--accent-darker);
    /*background-color: #e7e6e6*/
}

.nav-links .dropdown:hover span {
    transform: rotateZ(180deg);
    transition: transform 148ms linear;
}

.nav-links .dropdown span {
    /*animation-name: rotate;
    animation-duration: 148ms;*/
    transform: rotateZ(0deg);
    transition: transform 148ms linear;
}

.burger {
    display: none;
}

.burger div {
    background-color: var(--secondary--accent);
    height: 3px;
    width: 30px;
    margin: 6px 0;
}

    /*Dropdown*/
    
    .dropdown {
        float: left;
        overflow: hidden;
    }
    
    .dropdown-content {
        display: none;
        position: absolute;
        top: 64px;
        background-color: #e7e6e6;
        min-width: 148px;
        z-index: 1;
    }
    
    .dropdown-content a {
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
    }
    
    .dropdown-content a:hover {
        background-color: rgb(218, 216, 216);
    }
    
    .navbar .dropdown:hover .dropdown-content {
        display: block;
    }

/* Footer */

footer {
    background-color: var(--primary--black);
    color: var(--primary--white);
    padding: 48px 0 20px 0;
}

footer a {
    all: unset;
    cursor: pointer;
}

footer a::after {
    all: unset;
}

footer a:hover {
    all: unset;
    cursor: pointer;
    color: var(--secondary--white);
}

footer a:visited {
    all: unset;
    cursor: pointer;
}

footer li {
    list-style: none;
}

footer .wrapper {
    display: flex;
    justify-content: space-around;
    width: 75%;
    margin: auto;
}

footer .logo {
    position: relative;
    right: 110px;
}

footer .info {
    width: 40%;
}

footer .info .links .pages {
    color: var(--secondary--white);
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 20px;
}
footer .info .links .games {
    color: var(--secondary--white);
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 8px;
}

footer .info .socials {
    display: flex;
    display: flex;
    justify-content: space-between;
    width: 200px;
    margin-top: 38px;
}

footer hr {
    height: 2px;
    background-color: var(--tertiary--white);
    border: none;
    width: 95%;
    margin: 38px auto 18px auto;
}

footer .copyright {
    margin-left: 4%;
    color: var(--secondary--white);
}

footer .signup {
    text-align: right;
    width: 380px;
}

footer .signup p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    width: 340px;
    float: right;
}

footer .signup label {
    display: block;
    text-align: left;
}

footer .signup form {
    width: 100%;
    display: grid;
    gap: 12px;
    grid-template-columns: 1fr 1fr;
}

footer .signup form > * {
    height: 76px;
    width: 100%;
}

footer .signup form .email {
    grid-column: 1 / 3;
}

footer form label {
    color: var(--secondary--white);
    margin-bottom: 4px;
}

footer form input {
    width: 100%;
    height: 48px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: var(--tertiary--white);
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid var(--primary--white);
}

footer form input:not(:placeholder-shown) {
    color: var(--secondary--white);
}

footer form input:focus {
    outline-style: none;
    box-shadow: none;
    background-color:rgba(255, 255, 255, 0.4);
    color: var(--primary--white);
}

footer form button:focus, footer form button:hover {
    background-color: var(--primary--white);
    color: var(--primary--black);
}

footer form button {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color: var(--primary--white);
    height: 48px !important;
    padding-left: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: 3px solid var(--primary--white);
    grid-row: 3;
    grid-column: 2;
}

#form-success {
    color: rgb(32, 207, 70);
    font-size: 1rem;
    display: none;
}

@media only screen and (max-width: 889px) {

    body {
        overflow-x: hidden;
        width: 100vw;
    }

    h1 {
        font-size: 74px;
    }

    h2 {
        font-size: 38px;
    }

    /* Navbar */

    .navbar {
        padding: 0 40px;
    }

    .burger {
        display: block;
        cursor: pointer;
        z-index: 2;
    }

    .navbar .primary-cta {
        display: none;
    }

    .nav-links {
        position: absolute;
        margin: 0;
        left: 0px;
        top: 0px;
        height: calc(100vh);
        width: 100%;
        background-color: var(--secondary--accent);
        flex-direction: column;
        z-index: 1;
        transform: translateX(100%);
        display: none;
        transition: transform 0.2s ease-in;
    }

    .nav-links li {
        color: var(--primary--white);
        opacity: 0;
    }

    .navbar.nav-active .burger div {
        background-color: var(--primary--white);
        transition: transform 0.3s ease;
      }
    
    .navbar.nav-active .burger {
        position: fixed;
        right: 40px;
    }

    .nav-links.nav-active {
        transform: translateX(0%);
        display: inherit;
        position: fixed;
      }

      @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(20px);
        }
        to {
            opacity: 1;
            transform: translateX(0px);
        }
      }

    .dropdown-content {
        margin-top: 5px;
        position: static;
        z-index: 2;
    }

    .dropdown {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 20px;
    }

    .navbar.nav-active .burger .line1
    {
        transform: rotate(-45deg) translate(-3px, 9.5px);
    }

    .navbar.nav-active .burger .line2
    {
        opacity: 0;
    }

    .navbar.nav-active .burger .line3
    {
        transform: rotate(45deg) translate(-3px, -9.5px);
    }

    /* Footer */

    footer .wrapper {
        flex-direction: column-reverse;
        gap: 48px;
        align-items: center;
    }

    footer .info {
        width: 90%;
        text-align: center;
        margin: auto;
    }

    footer .signup {
        max-width: 90%;
    }

    footer .logo {
        position: static;
    }

    footer .pages, footer .games, footer .socials {
        margin: auto;
    }

    #copyright {
        margin: auto;
        text-align: center;
        width: 60%;
    }

  }